<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="Diamant-IT-nuget" value="https://proget.diamant-software.de/nuget/Diamant-IT-nuget" />
        <add key="nuget.org (cached)" value="https://proget.diamant-software.de/nuget/nuget.org" />
        <add key="Diamant-Consulting-NuGet" value="https://proget.diamant-software.de/nuget/diamant-consulting-nuget" />
        <add key="Diamant-Consulting-DevExpress" value="https://proget.diamant-software.de/nuget/DevExpress/" />
        <add key="Diamant-Cloud-NuGet" value="https://proget.diamant-software.de/nuget/Diamant-Cloud/" />
    </packageSources>
</configuration>